<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Travel Blog{% endblock %}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    </style>
</head>
<body>

    {% include 'blog/navbar.html' %}

    <div class="container">
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </div>

</body>
</html>
